body {
    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* background-color: #0E0E0E; */
    color: white;
    padding: 0;
    background-image: url(../images/bg-body.png);
    /* background-position: 0 700px; */
    background-size: cover;
}

header {
    padding-top: 90px;
    /* border: 1px solid black; */
    background-image: url(../images/bg-header.png);
    background-size: cover;
    /* position: relative; */
}

.logo-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.site-title-div{
    margin: 90px 0 0 0;
    /* border: 1px solid blue; */
}
.site-title-text {
    font-family: "Montserrat";
    font-weight: 900;
    color: #DC56C5;
    text-align: center;
    /* border: 1px solid; */
    font-size: 50px;
}

.inputs {
    margin: 50px 0 0 0;
    /* border: 1px solid orange; */
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
    gap: 32px;
    
}
.input-div {
   /* background-color: #DC56C5 !important; */
   position: relative;
   flex-basis: 300px;
}

.input-div input,
.input-div select {
    opacity: 50%;
}

.input-div span {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 3;
    right: 3;
}

img {
    display: block;
    width: 270px;
    height: 150px;
    object-fit: cover;
}

main {
    min-height: 100vh;
    padding: 0 40px 0 40px;
}

.footer-div {
    display: flex;
    justify-content: center;
}
.events-container {
    /* background-color: blueviolet; */
    /* padding-left: 15px;
    padding-right: 15px; */
    /* margin: 0; */
    width: 100%;
}

/* Search Field */


.search-form-input {
    padding-left: 15px;
    border: none;
    outline: none;
}

/* Gallery */
.row{
    width: 100%;
}

.lightbox {
    color: black;
    text-decoration: none;
}

.photo-card {
    margin-top: 30px;
    margin-left: 30px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.info-number {
    margin-top: 5px;
    font-weight: 400;
    font-size: 11px;
}